 
 /*font: öröklődik mindig, úgyhogy minden font relatív cuccot bodyba!*/

 body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
  }

 
 .heading-primary {
    color: $color-general-light;
    text-transform: uppercase;
    /*kiveszi a recegést az animaciobol*/
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
      display: block;
      /*span alapvetően inline, azért block, hogy sortörás legyen utána*/
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
    
      animation: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-out; 
      /* lehet még:
      animation-delay: 3s;  késik ennyit
      animation-iteration-count: 3;  3* lefut */

      @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 5rem;
      }
    
    }
    &--sub {
      display: block;
      /*span inline aműgy; igy linebreak*/
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out;

      @include respond(phone) {
        letter-spacing: 0.5rem;
      }
    }
  }

  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text; /*kivágja a szöveget*/
    color: transparent; /*hogy látszódjon a gradient back*/
    letter-spacing: 2px; /*tök pici, rem v px mindegy*/
    transition: all 0.2s;

    @include respond(tab-port) {
      font-size: 3rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }

    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-general-dark, 0.2); /*shadow hoveren*/
    }
  }

  .heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
  }

  .paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
